force-app/main/default/flows/FL_MarriageForm_CreateContactsEngagedCoupleFromRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>As had originally built this as a subflow and had mapped all values to the var_MFReg, instead of re-mapping decided to assign the triggering record to the var_MFReg variable, to preserve all mapping.</description>
        <name>Assign_record_to_var_MFReg</name>
        <label>Assign record to var_MFReg</label>
        <locationX>187</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>var_MFReg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_ProgEngRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_IDs_to_MF_Registration</name>
        <label>Assign Records IDs to MF Registration</label>
        <locationX>467</locationX>
        <locationY>1435</locationY>
        <assignmentItems>
            <assignToReference>var_MFReg.Engaged_Couple_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_EngagedCouple.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MFReg.Her_Contact_Imported__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MFReg.His_Contact_Imported__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HisContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MFReg.Groom_Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_ProgEng_Groom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MFReg.Bride_Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_ProgEng_Bride.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_MFRegistration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned values to Her Contact</description>
        <name>AssignHerContact</name>
        <label>Assign Her Contact</label>
        <locationX>775</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>var_HerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Name_First__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_State_Province_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_ZIP_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.Religious_Affiliation_Self_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Religious_Affiliation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Name_Last__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.Home_Parish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Her_Parish_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Home_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Cell_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051U000008Mn4YQAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Her_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned values to His Contact</description>
        <name>AssignHisContact</name>
        <label>Assign His Contact</label>
        <locationX>767</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>var_HisContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Name_First__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Name_Last__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_State_Province_FORMULA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_ZIP_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.Religious_Affiliation_Self_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Religious_Affiliation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.Home_Parish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_His_Parish_ID_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Home_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Cell_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051U000008Mn4YQAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_His_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned values to new Engaged Couple record.</description>
        <name>Engaged_Couple</name>
        <label>Engaged Couple</label>
        <locationX>787</locationX>
        <locationY>865</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Bride__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Groom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HisContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Contacted_by_WTL_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Has_your_pastor_has_spoken_to_you_about__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Couple_to_participate_in_WTL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Are_you_participating_in_Witness_to_Love__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Date_of_Civil_Marriage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Date_Civilly_Married__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Intended_Wedding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Intended_wedding_date_if_known__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Parish_preparing_docs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountID_for_Parish_Preparing_Docs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Stage_of_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.What_is_your_relationship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Mentor_Couple_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Mentor_couple_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Mentor_Couple_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.If_you_have_already_chosen_your_mentor_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.MF_Course_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Course_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Fertility_Heath_Awareness2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Fertility_Health_Awareness_Webinar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Alternative_Priest_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Additional_location_to_send_Marriage_Pre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Signing_Priest_Deacon_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Certificate_to_go_to_Name_of_the_Priest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Original_MF_Course_Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagedCoupleRecordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051U000008Mn4YQAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Engaged_Couple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set&apos;s Bride&apos;s Program Engagement variables, prior to record creation.</description>
        <name>SET_BrideProgEng</name>
        <label>SET Bride Program Engagement</label>
        <locationX>458</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_EngagedCouple.Bride__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.Marriage_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_EngagedCouple.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.pmdm__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ProgEngRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.pmdm__Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ProgramID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051U000008Mn4YQAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_BrideProgEng</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_EngagedCouple</name>
        <label>SET Engaged Couple</label>
        <locationX>465</locationX>
        <locationY>1239</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Program_Engagement_Records_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Groom_s_Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_ProgEng_Groom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_EngagedCouple.Bride_s_Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_ProgEng_Bride.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Engaged_Couple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set&apos;s Groom&apos;s Program Engagement variables, prior to record creation.</description>
        <name>SET_GroomProgEng</name>
        <label>SET Groom Program Engagement</label>
        <locationX>696</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_EngagedCouple.Groom__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.Marriage_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_EngagedCouple.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.pmdm__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ProgEngRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.pmdm__Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ProgramID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051U000008Mn4YQAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_GroomProgEng</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Account</name>
        <label>Found Account?</label>
        <locationX>613</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>Engaged_Couple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Matched</defaultConnectorLabel>
        <rules>
            <name>Didn_t_find_matching_parish_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AccountID_for_Parish_Preparing_Docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaged_Couple</targetReference>
            </connector>
            <label>Didn&apos;t find matching parish account</label>
        </rules>
    </decisions>
    <description>Upon insertion of a new Marriage Formation Registration record in Salesforce creates two (2) Contact records and an Engaged Couple record (1), then links the Marriage Formation Registration record directly to the newly created Contact and Engaged Couple records.</description>
    <formulas>
        <name>form_text_MarriageFormationProgramID</name>
        <dataType>String</dataType>
        <expression>CASE({!$Organization.Id}, 
   &apos;00D1U000000G9NI&apos;, &apos;a1K1U000003SBqaUAG&apos;,
   &apos;00D63000000VaIm&apos;, &apos;a1K63000001btsjEAA&apos;,
   &apos;00D750000004djA&apos;, &apos;a1K75000000GuOkEAK&apos;,
   &apos;00D5200000001YY&apos;, &apos;a1K52000001rrslEAA&apos;,
   &apos;00D190000009pb1&apos;, &apos;a1K19000003WblHEAS&apos;,
   &apos;00D8B0000008aST&apos;, &apos;a1K1U000003SBqaUAG&apos;,
   &quot;This flow is designed to use a specific Marriage Formation record iD which is different in each SF environment. If a Program record is not found, please add your Org&apos;s ID and the exact &apos;Marriage Formation&apos; Program Record ID in that org to this formula.  If you don&apos;t like this approach feel free to enhance this code.&quot;
)</expression>
    </formulas>
    <interviewLabel>FL_MarriageForm_CreateContactsFromRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFL_MarriageForm_MFRegStagingTble_AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_BrideProgEng</name>
        <label>CREATE Bride ProgEng</label>
        <locationX>570</locationX>
        <locationY>1062</locationY>
        <connector>
            <targetReference>SET_GroomProgEng</targetReference>
        </connector>
        <inputReference>var_sObj_ProgEng_Bride</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Engaged_Couple</name>
        <label>CREATE Engaged Couple</label>
        <locationX>932</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>SET_BrideProgEng</targetReference>
        </connector>
        <inputReference>var_sObj_EngagedCouple</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_GroomProgEng</name>
        <label>CREATE Groom ProgEng</label>
        <locationX>813</locationX>
        <locationY>1064</locationY>
        <connector>
            <targetReference>SET_EngagedCouple</targetReference>
        </connector>
        <inputReference>var_sObj_ProgEng_Groom</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Her_Contact</name>
        <label>CREATE Her Contact</label>
        <locationX>930</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Get_His_Parish_ID_0</targetReference>
        </connector>
        <inputReference>var_HerContact</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Groom&apos;s Contact</description>
        <name>CREATE_His_Contact</name>
        <label>CREATE His Contact</label>
        <locationX>925</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Get_AccountID_for_Parish_Preparing_Docs</targetReference>
        </connector>
        <inputReference>var_HisContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AccountID_for_Parish_Preparing_Docs</name>
        <label>Get AccountID for Parish Preparing Docs</label>
        <locationX>461</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MFReg.Select_Parish_preparing_documentation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Her_Parish_ID</name>
        <label>Get Her Parish ID</label>
        <locationX>473</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignHerContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MFReg.Her_Home_Parish__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_His_Parish_ID_0</name>
        <label>Get His Parish ID</label>
        <locationX>463</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignHisContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MFReg.His_Home_Parish__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Grab&apos;s the ID for Program Engagement record type &apos;Marriage Formation&apos;.</description>
        <name>GET_ProgEngRecordType</name>
        <label>GET Program Engagement Record Type</label>
        <locationX>337</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ProgramID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pmdm__ProgramEngagement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marriage_Formation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ProgramID</name>
        <label>GET Program ID</label>
        <locationX>471</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Her_Parish_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_text_MarriageFormationProgramID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pmdm__Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Engaged_Couple</name>
        <label>UPDATE Engaged Couple</label>
        <locationX>617</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Assign_Records_IDs_to_MF_Registration</targetReference>
        </connector>
        <inputReference>var_sObj_EngagedCouple</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_MFRegistration</name>
        <label>UPDATE_MFRegistration</label>
        <locationX>609</locationX>
        <locationY>1437</locationY>
        <inputReference>var_MFReg</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>61</locationX>
        <locationY>8</locationY>
        <connector>
            <targetReference>Assign_record_to_var_MFReg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <object>Marriage_Form_Registration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EngagedCoupleRecordName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!var_HerContact.FirstName} {!var_HerContact.LastName} &amp; {!var_HisContact.FirstName} {!var_HisContact.LastName}</text>
    </textTemplates>
    <textTemplates>
        <description>Concatenated names of Bride &amp; Groom.</description>
        <name>NameOfCouple</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!var_HerContact.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_HerContact.FirstName}&lt;/span&gt; &amp;amp; {!var_HisContact.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_HisContact.LastName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Flow: RTFL_MarriageForm_MFRegStagingTble_AfterSave&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_HerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_HisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Represents a single form submission for the Marriage Formation program.</description>
        <name>var_MFReg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Marriage_Form_Registration__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_EngagedCouple</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Engaged_Couple__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_ProgEng_Bride</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ProgramEngagement__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_ProgEng_Groom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ProgramEngagement__c</objectType>
    </variables>
    <variables>
        <name>varCol_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
