force-app/main/default/flows/RTFL_EngagedCouple_FAH_InitialEnrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Sends Error Message Email</description>
        <name>EA01_ET01_ErrorMessage</name>
        <label>EA01_ET01_ErrorMessage</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ET01_ErrorMessaging</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@meribahflow.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error on RTFL_EngagedCouple_FHA_InitialEnrollment flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Sets values in the Bride&apos;s Service Participant record variable, prior to record creation.</description>
        <name>SET_BrideServPart_FHA</name>
        <label>SET Bride Serv Part FHA</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bride__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.pmdm__ProgramEngagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bride_s_Program_Engagement__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.pmdm__ServiceSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fertility_Heath_Awareness2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.pmdm__SignUpDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_date_Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.pmdm__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_ServPart_FHA_Bride</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051U000008Mn4YQAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Bride_FHA.pmdm__Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fertility_Heath_Awareness2__r.pmdm__Service__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SET_GroomServPart_FHA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets values in the Groom&apos;s Service Participant record variable, prior to record creation.</description>
        <name>SET_GroomServPart_FHA</name>
        <label>SET Groom Serv Part FHA</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Groom__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.pmdm__ProgramEngagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Groom_s_Program_Engagement__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.pmdm__ServiceSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fertility_Heath_Awareness2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.pmdm__SignUpDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_date_Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.pmdm__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_ServPart_FHA_Groom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051U000008Mn4YQAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServPart_Groom_FHA.pmdm__Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fertility_Heath_Awareness2__r.pmdm__Service__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STORE_ServPart_MFCourse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets a success message in the Success Message variable, so any flows calling this sub-flow can check to see if it was successful.</description>
        <name>SET_SuccessMessage</name>
        <label>SET Success Message</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varT_SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>STORES Service Participant records in a collection.</description>
        <name>STORE_ServPart_MFCourse</name>
        <label>STORE MFCourse Service Participant records</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>var_coll_ServPart</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_sObj_ServPart_Bride_FHA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_coll_ServPart</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_sObj_ServPart_Groom_FHA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_FHA_Service_Participant_records</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>form_date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>RTFL_EngagedCouple_FHA_InitialEnrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFL_EngagedCouple_FHA_InitialEnrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_FHA_Service_Participant_records</name>
        <label>CREATE FHA Service Participant records</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>SET_SuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EA01_ET01_ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>var_coll_ServPart</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SET_BrideServPart_FHA</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Engagement_Records_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fertility_Heath_Awareness2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Engaged_Couple__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} have been enrolled in: &quot;{!$Record.Fertility_Heath_Awareness2__r.Name}.&quot;</text>
    </textTemplates>
    <textTemplates>
        <description>Email Template Body</description>
        <name>ET01_ErrorMessaging</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Fault Message: {!$Flow.FaultMessage}
State: {!$Flow.CurrentStage}
Current Flow Record: {!$Flow.CurrentRecord}</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ServPart_FHA_Bride</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Bride__r.FirstName} {!$Record.Bride__r.LastName} - FHA Seminar - {!$Record.Fertility_Heath_Awareness2__r.Service_Schedule_Code__c}</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ServPart_FHA_Groom</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Groom__r.FirstName} {!$Record.Groom__r.LastName} - FHA Seminar - {!$Record.Fertility_Heath_Awareness2__r.Service_Schedule_Code__c}</text>
    </textTemplates>
    <variables>
        <name>var_coll_ProgEng</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pmdm__ProgramEngagement__c</objectType>
    </variables>
    <variables>
        <description>Collection for all Service Participant records to be created by the flow.</description>
        <name>var_coll_ServPart</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ServiceParticipant__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_ServPart_Bride_FHA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ServiceParticipant__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_ServPart_Groom_FHA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ServiceParticipant__c</objectType>
    </variables>
    <variables>
        <description>Variable for setting an Error Message.</description>
        <name>varT_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable for setting a Success Message</description>
        <name>varT_SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
