force-app/main/default/flows/RTFL_MarriageForm_EngagedCouple_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Groom_Service_Participant</name>
        <label>Groom - Service Participant</label>
        <locationX>838</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Groom.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Groom__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Groom.pmdm__ProgramEngagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_ProgEng_Groom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Groom.pmdm__ServiceSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MF_Course_Enrollment__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Groom.pmdm__SignUpDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Groom.pmdm__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Groom_Service_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Groom_Service_Participant_0</name>
        <label>Groom - Service Participant</label>
        <locationX>841</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Bride.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bride__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Bride.pmdm__ProgramEngagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_ProgEng_Bride.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Bride.pmdm__ServiceSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MF_Course_Enrollment__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Bride.pmdm__SignUpDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ServicePart_Bride.pmdm__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bride_Service_Participant_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Bride&apos;s Program Engagement - enrolls her in the Marriage Formation program.</description>
        <name>ProgEng_Bride</name>
        <label>ProgEng - Bride</label>
        <locationX>465</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bride__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.Marriage_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.pmdm__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Marriage_Formation_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Bride.pmdm__Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bride_s_ProgEng</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Bride&apos;s Program Engagement - enrolls her in the Marriage Formation program.</description>
        <name>ProgEng_Groom</name>
        <label>ProgEng - Groom</label>
        <locationX>465</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Groom__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.Marriage_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.pmdm__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Marriage_Formation_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ProgEng_Groom.pmdm__Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Groom_s_ProgEng</targetReference>
        </connector>
    </assignments>
    <description>Once Engaged Couple record is saved WITH a linked Service Schedule, enrolls the Bride and Groom in the Marriage Formation program (creates Prog. Engagement records) and enrolls them in the particular Service Schedule (creates Service Participant records).</description>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>RTFL_MarriageForm_EngagedCouple_AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFL_MarriageForm_EngagedCouple_AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bride_s_ProgEng</name>
        <label>Create Bride&apos;s ProgEng</label>
        <locationX>588</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>ProgEng_Groom</targetReference>
        </connector>
        <inputReference>var_sObj_ProgEng_Bride</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Bride_Service_Participant_0</name>
        <label>Create Bride Service Participant</label>
        <locationX>980</locationX>
        <locationY>976</locationY>
        <inputReference>var_sObj_ServicePart_Bride</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Groom_s_ProgEng</name>
        <label>CREATE Groom&apos;s ProgEng</label>
        <locationX>586</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Groom_Service_Participant</targetReference>
        </connector>
        <inputReference>var_sObj_ProgEng_Groom</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Groom_Service_Participant</name>
        <label>Create Groom Service Participant</label>
        <locationX>975</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>Groom_Service_Participant_0</targetReference>
        </connector>
        <inputReference>var_sObj_ServicePart_Groom</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Grab&apos;s the ID for Program Engagement record type Marriage Formation.</description>
        <name>GET_Marriage_Formation_record_type</name>
        <label>GET Marriage Formation record type</label>
        <locationX>172</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pmdm__ProgramEngagement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marriage_Formation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>172</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgEng_Bride</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marriage Formation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pmdm__Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GET_Marriage_Formation_record_type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MF_Course_Enrollment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bride__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Groom__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Engaged_Couple__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_sObj_ProgEng_Bride</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ProgramEngagement__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_ProgEng_Groom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ProgramEngagement__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_ServicePart_Bride</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ServiceParticipant__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_ServicePart_Groom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ServiceParticipant__c</objectType>
    </variables>
</Flow>
