force-app/main/default/flows/Update_Service_Delivery_with_Engaged_Couple_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Engaged_Couple</name>
        <label>Assign Engaged Couple to Service Delivery</label>
        <locationX>826</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>$Record.Engaged_Couple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engaged_Couples.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Before saving, looks to see if a Service Delivery&apos;s Contact is member of an Engaged Couple, and if so assigned the Engaged Couple ID to the appropriate field on the Service Delivery.</description>
    <interviewLabel>Update Service Delivery with Engaged Couple ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFL_MarriageForm_ServiceDelivery_BeforeSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Engaged_Couples</name>
        <label>Engaged Couples</label>
        <locationX>822</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Engaged_Couple</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Bride__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pmdm__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Groom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pmdm__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engaged_Couple__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>696</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Engaged_Couples</targetReference>
        </connector>
        <object>pmdm__ServiceDelivery__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
