packaged/flows/FL_MarriageForm_CreateContactsEngagedCoupleFromRegistration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>As had originally built this as a subflow and had mapped all values to the var_MFReg, instead of re-mapping decided to assign the triggering record to the var_MFReg variable, to preserve all mapping.</description>
        <name>Assign_record_to_var_MFReg</name>
        <label>Assign record to var_MFReg</label>
        <locationX>450</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>var_MFReg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Her_Parish_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_IDs_to_MF_Registration</name>
        <label>Assign Records IDs to MF Registration</label>
        <locationX>766</locationX>
        <locationY>1458</locationY>
        <assignmentItems>
            <assignToReference>var_MFReg.Engaged_Couple_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_EngagedCouple.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MFReg.Her_Contact_Imported__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MFReg.His_Contact_Imported__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HisContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_MFRegistration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned values to Her Contact</description>
        <name>AssignHerContact</name>
        <label>Assign Her Contact</label>
        <locationX>282</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>var_HerContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Name_First__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Address_ZIP_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.Religious_Affiliation_Self_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Religious_Affiliation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Her_Name_Last__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HerContact.Home_Parish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Her_Parish_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Her_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned values to His Contact</description>
        <name>AssignHisContact</name>
        <label>Assign His Contact</label>
        <locationX>586</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>var_HisContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Name_First__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Name_Last__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Address_ZIP_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.Religious_Affiliation_Self_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.His_Religious_Affiliation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HisContact.Home_Parish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_His_Parish_ID_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_His_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned values to new Engaged Couple record.</description>
        <name>Engaged_Couple</name>
        <label>Engaged Couple</label>
        <locationX>432</locationX>
        <locationY>1291</locationY>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Bride__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Groom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HisContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Contacted_by_WTL_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Has_your_pastor_has_spoken_to_you_about__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Couple_is_civilly_married__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Are_both_of_you_civilly_married__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Couple_to_participate_in_WTL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Are_you_participating_in_Witness_to_Love__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Date_of_Civil_Marriage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Date_Civilly_Married__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Intended_Wedding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Intended_wedding_date_if_known__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Parish_preparing_docs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AccountID_for_Parish_Preparing_Docs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Stage_of_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.What_is_your_relationship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Mentor_Couple_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Mentor_couple_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Mentor_Couple_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.If_you_have_already_chosen_your_mentor_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.MF_Course_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Course_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Fertility_Heath_Awareness2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Fertility_Health_Awareness_Webinar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Alternative_Priest_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Additional_location_to_send_Marriage_Pre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Signing_Priest_Deacon_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Certificate_to_go_to_Name_of_the_Priest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EngagedCouple.Original_MF_Course_Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MFReg.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Engaged_Couple</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Account</name>
        <label>Found Account?</label>
        <locationX>427</locationX>
        <locationY>1099</locationY>
        <defaultConnector>
            <targetReference>Engaged_Couple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Matched</defaultConnectorLabel>
        <rules>
            <name>Didn_t_find_matching_parish_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AccountID_for_Parish_Preparing_Docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaged_Couple</targetReference>
            </connector>
            <label>Didn&apos;t find matching parish account</label>
        </rules>
    </decisions>
    <description>Creates Contact records and an Engaged Couple record upon the insertion of a new Marriage Formation Registration record in Salesforce.</description>
    <interviewLabel>FL_MarriageForm_CreateContactsFromRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFL_MarriageForm_MFRegStagingTble_AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Engaged_Couple</name>
        <label>CREATE Engaged Couple</label>
        <locationX>431</locationX>
        <locationY>1460</locationY>
        <connector>
            <targetReference>Assign_Records_IDs_to_MF_Registration</targetReference>
        </connector>
        <inputReference>var_EngagedCouple</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Her_Contact</name>
        <label>CREATE Her Contact</label>
        <locationX>287</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Get_His_Parish_ID_0</targetReference>
        </connector>
        <inputReference>var_HerContact</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Groom&apos;s Contact</description>
        <name>CREATE_His_Contact</name>
        <label>CREATE His Contact</label>
        <locationX>589</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>Get_AccountID_for_Parish_Preparing_Docs</targetReference>
        </connector>
        <inputReference>var_HisContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AccountID_for_Parish_Preparing_Docs</name>
        <label>Get AccountID for Parish Preparing Docs</label>
        <locationX>436</locationX>
        <locationY>944</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MFReg.Select_Parish_preparing_documentation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Her_Parish_ID</name>
        <label>Get Her Parish ID</label>
        <locationX>286</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignHerContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MFReg.Her_Home_Parish__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_His_Parish_ID_0</name>
        <label>Get His Parish ID</label>
        <locationX>580</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignHisContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MFReg.His_Home_Parish__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_MFRegistration</name>
        <label>UPDATE_MFRegistration</label>
        <locationX>766</locationX>
        <locationY>1633</locationY>
        <inputReference>var_MFReg</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>322</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_record_to_var_MFReg</targetReference>
        </connector>
        <object>Marriage_Form_Registration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Concatenated names of Bride &amp; Groom.</description>
        <name>NameOfCouple</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!var_HerContact.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_HerContact.FirstName}&lt;/span&gt; &amp;amp; {!var_HisContact.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_HisContact.LastName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_EngagedCouple</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Engaged_Couple__c</objectType>
    </variables>
    <variables>
        <name>var_HerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_HisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Represents a single form submission for the Marriage Formation program.</description>
        <name>var_MFReg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Marriage_Form_Registration__c</objectType>
    </variables>
    <variables>
        <name>varCol_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
